<!DOCTYPE html>
<html>
<head>
    <title>Product Checker</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table.inner-table, .inner-th, .inner-td {
            border: 2px solid black;
        }
        th, td {
            padding: 8px;
        }
    </style>
</head>
<body>
    <div>
        <p align="right"><h1 align="center">Product Checker
        <a href=searchForProduct><button id="searchButton">Search For a Product</button></a></h1></p>
    </div>

    <table>
        <tr>
            <td>
                <h2>Top rated Phones</h2>
                <table class="inner-table" id="table1">
                    <thead>
                        <th class="inner-th" align="Left">#</th>
                        <th class="inner-th" align="Left">Name</th>
                        <th class="inner-th" align="Left">Public Sentiment</th>
                    </thead>
                    <tbody>
                        {% for item in table1_data %}
                        <tr>
                            <td class="inner-td">{{ item['Id'] }}</td>
                            <td class="inner-td">{{ item['Name'] }}</td>
                            <td class="inner-td">{{ item['Percent'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                <h2>Top rated Accessories </h2>
                <table class="inner-table" id="table2">
                    <thead>
                        <th class="inner-th">#</th>
                        <th class="inner-th">Name</th>
                        <th class="inner-th">Public Sentiment</th>
                    </thead>
                    <tbody>
                        {% for item in table2_data %}
                        <tr>
                            <td class="inner-td">{{ item['Id'] }}</td>
                            <td class="inner-td">{{ item['Name'] }}</td>
                            <td class="inner-td">{{ item['Percent'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Top rated Books</h2>
                <table class="inner-table" id="table3">
                    <thead>
                        <th class="inner-th">#</th>
                        <th class="inner-th">Name</th>
                        <th class="inner-th">Public Sentiment</th>
                    </thead>
                    <tbody>
                        {% for item in table3_data %}
                        <tr>
                            <td class="inner-td">{{ item['Id'] }}</td>
                            <td class="inner-td">{{ item['Name'] }}</td>
                            <td class="inner-td">{{ item['Percent'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                <h2>Top rated Skin products</h2>
                <table class="inner-table" id="table4">
                    <thead>
                        <th class="inner-th">#</th>
                        <th class="inner-th">Name</th>
                        <th class="inner-th">Public Sentiment</th>
                    </thead>
                    <tbody>
                        {% for item in table4_data %}
                        <tr>
                            <td class="inner-td">{{ item['Id'] }}</td>
                            <td class="inner-td">{{ item['Name'] }}</td>
                            <td class="inner-td">{{ item['Percent'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
